<link rel='stylesheet' href='/stylesheets/createform.css' />
<script src="/javascripts/createform.js"></script>
<div class="container" style="margin-top: 50px; font-family: cursive;  ">
    
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="border: 7px solid black;margin-right: 30px;">
                
                <form method="post" action="/orders/create">
                    <!-- SENDER -->
                <div class="chip" style="margin-top: 30px;color:darkblue;">
                    <img src="/Images/avatar.jpg" alt="Person" width="96" height="96">
                    Order Information
                </div>
                <div class="form-group" style=" margin-top: 30px; margin-left:40px;">
                    <input type="text" style="border: 2px solid darkblue;" class="form-control" id="eName" autofocus required name="eName" autocomplete="off">
                    <label for="eName">Product Name:</label>
                </div>
                <div class="form-group" style="margin-left:40px;">
                    <input type="text" style="border: 2px solid darkblue;" class="form-control" id="eLocation" required name="eLocation" autocomplete="off">
                    <label for="eLocation">Product Description:</label>
                </div>
                <div class="form-group" style=" margin-left:40px;">
                    <input type="time" style="border: 2px solid darkblue;" class="form-control" id="eTime" required  name="eTime" autocomplete="off">
                    <label for="eTime">Product Price:</label>
                </div>
                <div class="form-group" style=" margin-left:40px;">
                    <input type="date" style="border: 2px solid darkblue;" class="form-control" id="eDate" required  name="eDate" autocomplete="off">
                    <label for="eDate">product quantity:</label>
                </div>
                
                <button type="submit" style=" margin-left:110px;  margin-top: 30px; width: 500px; margin-bottom: 30px;"
                class="btn btn-dark">Create product</button>
                </form>
            </div>
            <div class="col-sm-2"></div>
    </div> 
</div>