        <title>CRUD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="/javascripts/frontPage.js"></script>
        {{!-- <script type="text/javascript" src="jquery.hislide.js"></script> --}}
        {{!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>    --}}
        <link rel="stylesheet" type="text/css" href='/stylesheets/frontPage.css'>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
            {{!-- <div class="container-fluid" style="background-color: black ;color:white; padding:1px">
                <p ><h2  style="float:right; margin-right: 50px;">Human , Environment And You</h2>
                    <h2 style="margin-left:20px;" >
                    Goonj</h2></p>
            </div>     --}}
                
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top ">  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home"><h4>Home</h4></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="loginC"><h4>Login</h4></a>
                        </li>
                        
                        
                    </ul>
                </div>
            </nav>


            
            <div id="features" class="container-fluid" style="padding-top:50px;padding-bottom:50px;font-size:1vw;
            color: indianred;background-color: black;" >
                
                <br>
                
                    
            </div>
            
            
            
            <div id="feedback" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
            </div>
                       
    </body>

